
:root{

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #65dd75;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    

}

body{

    font-family: 'Quicksand', sans-serif;
    margin: 0;
	padding: 0;
    text-decoration: none;
    list-style-type: none;
    
    
}



/* Ul Menu */
.ul-menu{
    display: flex;
    justify-content:space-around;
    margin-top: 0rem;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); 
    align-items: center;
	padding: 10px 10px;
    height: 50px;
	line-height: 1.65em;
    position: fixed;
    z-index: 11;
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba y abajo */
    background-color: white;
    transition: all 0.6s ease;
    

}

/*Logo*/
.ul-menu .img-logo {
    width: 260px;
    height:150px;
    
}

/*BAR MENU*/
.ul-menu .img-bar {
    display: none;
    width: 25px;
    height:25px;
    transform: translateY(1px);
    transform: translateX(-90px);
    
}

/*ABOUT MENU SLIDEBAR------------------------------------------*/

.about-menu-aside{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1700px;
    top: 0;
    z-index: 12;
    background-color: rgba(0, 0, 0, 0.5);
   
    
 
    
   
 }

 .about-menu-aside .nav .navbar-imgprofile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
 }

 .about-menu-aside .nav{
    margin-top: 0;
    width: 100%;
    max-width: 175px;
    height: 100%;
    background: white;
    list-style-type: none;
    position: relative;
    padding: 0;
    transition: all 300ms;
    
 }
 
 .about-menu-aside .nav .item_li img {
    width: 20px;
    height: 15px;
    margin-right: 1px;
 }

 .about-menu-aside .nav .navbar-imgprofile img {
    width: 27px;
    height:27px;
 }

 .about-menu-aside .nav li {
    padding: 13px;
   
 }
 
 .about-menu-aside .nav li a {
    padding: 10px;
    text-decoration: none;
    color: #000000;



 }


 .about-menu-aside .item_a:hover{
    color: var(--hospital-green);
    
}

.about-menu-aside .nav .img-close {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 50%;
    top: 225px;
    
}


 /*ABOUT MENU NAVBAR------------------------------------------------------*/

 .about-menu {
    transform:translateX(100px);
}
.about-menu .nav{
   display: flex;
   list-style-type: none;
   align-items: center;
}

.about-menu .item_li{
    margin:30px;
}


.about-menu .item_a{
    display: flex;
    font-weight: 600;
    text-decoration: none;
    font-size: 13px;
    color: #000000;
    position: relative;
    padding: 5px 15px 5px 16px;
    overflow: hidden;
    text-transform: uppercase;


}

.about-menu .item_a:before{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 50%;
    height: 2px;
    background-color: var(--hospital-green);
    transition: .5s cubic-bezier(0.075, 0.082, 0.165, 1);
}

.about-menu .item_a:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 50%;
    height: 2px;
    background-color: var(--hospital-green);
    transition: .5s cubic-bezier(0.075, 0.082, 0.165, 1);
}

.about-menu .item_a:hover{
    color: var(--hospital-green);
}

.about-menu .item_a:hover:before{
    right: 0;
}

.about-menu .item_a:hover:after{
    left:  0;
}

/*Boton Buscar----------------------------------------------*/

.btn-search { 
     display: flex;
     justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      line-height: 55px;
      background-color: var(--hospital-green);
      color: var(--white);
      position: absolute;
      top: 15px;
      right: 350px;
      border-radius: 50%;
      font-size: 18px;
      cursor: pointer;
      transition: all 300ms;
      
      
}

.btn-search:hover  {
    background-color: rgb(69, 182, 98);
}





/*Username Menu------------------------------------*/
.username-menu{
    display: flex;
    justify-content: space-around;
    width: 150px;
    margin-right: 20px;
    transform: translateY(-10px);

   
       
   }

.username-menu .navbar-imgprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
   
   
  
  }
   
 .username-menu .navbar-imgprofile p {
       font-size: 14px;
       height: 1px;
       padding-top:-40px;
       
   }

   .username-menu .navbar-imgprofile  {
    transform: translateX(-20px);
    
}


.username-menu .img-carrito {
    width: 25px;
    height:25px;
    transform: translateY(26px);

}

.username-menu .amount {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hospital-green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 7px;
  
    
}

.username-menu .img-profile {
    width: 27px;
    height:27px;
    padding: 0px;
    transform: translateY(18px);

    
}

/*--------------Contenedor principal---------------------------- */



.container{
    margin-top: 100px;
    display:grid;
    grid-template-columns:300px 300px 300px ;
    column-gap: 5px;
    row-gap: 10px;
    justify-content: center;
    z-index: 6;
    width: 100%;

    
    
}

.img-aguacate {
    width: 180px;
    height: 180px;
    margin-left: 30px;
    
}

.card {
    
    width: 275px;
    height: 330px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-left: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    overflow: hidden;
    
}
.card:hover{
   cursor: pointer;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(0.5%); 
  
}

.btn-aguacate {
    background-color:var(--hospital-green);
    border: none;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 15px;
    width: 80px;
    height: 30px;
    transition: all 300ms;
    
}

.btn-aguacate:hover{
    cursor: pointer;
    background-color: rgb(69, 182, 98);
}
.name-aguacate{
    font-size: var(--lg);
    padding: 0;
    margin-bottom: 7px;
    
}

.name-aguacate:hover{
 text-decoration:underline;
 color: var(--hospital-green);
    
}

.des-aguacate{
    font-size: var(--sm);
    color: rgb(132, 126, 126)
}


/*Menu para el buscador */

.search-menu {
   position: fixed;
   top: -70px;
   width: 100%;
   background: white;
   padding: 20px;
   z-index: 9;
   transition: all 600ms;
   
} 

.search-menu input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 5px;
    font-size: 20px;
    outline:1 rgb(69, 182, 98);
    
}


/*Resultados para la busqueda*/
.results{
    position: fixed;
    top: 121px;
    left: 50%;
    transform: translateX(-48.4%);
    width:1200px;
    margin: auto;
    background:white;
    z-index: 10;
    overflow: hidden;
    display: none;
   
    
  }

.results li a   {
    display: block ;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
    text-decoration: none;

}

.results li a:hover {
 background: #f3f3f3;
}
.results li a i {
    margin-right: 5px;
}

.results li{
    list-style: none;
}



/*Para poner la pantalla opaca cuando comience la busqueda*/
.cover{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    transition: all 1200ms;
}


/*Footer**/
.description-footer{
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px 400px ;
    grid-template-rows: 50px  100px ;
    column-gap: -40px;
    width: 100%;
    height: 250px;
    margin-top: 80px;

    
}

.authors-footer {
    background-color: var(--hospital-green);
    width: 100%;
    height: 100%;
}

.description-footer h1  {
    font-size: 14px;

}

.description-footer .title-address {
    display: flex;
}

.description-footer .socialmedia{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}

.description-footer .ccpay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    
 }

.description-footer .title-address img {
    width: 40px;
    height: 40px;
}
 

.description-footer .title-socialmedia {
    display: flex;
    justify-content: center;
    grid-row: 1/2;
    grid-column: 2/3;
 }

 .description-footer .title-contactus {
    display: flex;
    justify-content: end;
    grid-row: 1/2;
    grid-column: 3/4;
 }


.description-footer .address{
    grid-column: 1/2;
}

.description-footer .socialmedia{
    grid-column: 2/3;
  
}

/* .description-footer .ccpay {
    grid-column: 3/4;
    grid-row: 3/4 ;
    
    
} */




.description-footer .socialmedia  img{
    width: 35px;
    height: 30px;
}


.description-footer .address{
    display: flex;
}



 .ccpay {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    
 }

.ccpay img{
    width: 25px;
    height: 30px;
}


/*****/

/*Responsive */
@media (max-width:1420px) {
    .about-menu{
        transform:translateX(-10px);
    }
    
    .description-footer .title-contactus {
        justify-content: center;
    }


    .description-footer{
        grid-template-columns: 400px 400px 400px ;
       
    }

    .btn-search {
        right: 325px;
    }
    

}

@media (max-width:1280px) {

    .search-menu input{
        width: 1000px;
    }

    .results {
        width: 1000px;
        transform: translateX(-48%);
    }

    .description-footer .title-contactus {
        justify-content: center;
    }



}

@media  (max-width:1209px) {

    .description-footer{
        grid-template-columns: 300px 300px 300px;
        
    }

    /* .ccpay {
        width: 50%;
        
        
     } */


}


@media (max-width:1200px){

       .about-menu{
        transform:translateX(-70px);
    }

    .btn-search {
        right: 280px;
    }

}


@media (max-width:1090px) {

    .about-menu{
        transform:translateX(-100px);
    }

    .about-menu  .item_a{
        padding: 2px;

    }
    
    .search-menu input{
        width: 800px;
    }
    

    .results {
        width: 800px;
        transform: translateX(-47.6%);
    }
  

}


@media (max-width:940px) {

    .ul-menu {
        display: flex;
        justify-content: center;

    }
    .container{
        grid-template-columns:300px 300px  ;
    
        
    }
     

    .description-footer {
        grid-template-columns: 300px 300px  ;
        grid-template-rows: 25px 110px 100px ;
        
    }
    
    .description-footer .title-address {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .description-footer .address-p {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .description-footer .title-contactus{
        justify-content: start;
        grid-row: 3/4;
        grid-column: 1/2;

    }
      
    /* .description-footer .ccpay{
        justify-content: start;
        grid-row: 4/5;
        grid-column: 1/2;

    } */
    
    .container{

        grid-template-columns:300px 300px  ;
        
    }
    .ul-menu .username-menu .navbar-imgcarrito {
        transform: translateY(-300px);

    }
     
    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(220px);
        
    }
    .about-menu  {
        display: none;
    }

   .ul-menu .username-menu .navbar-imgprofile {
        display: none;
    }

   
    .ul-menu .img-bar{
        display: block;
        

    }

    .btn-search {
        right: 290px;
    }

   
     .ul-menu .img-bar {

        transform: translateX(-210px);

    }
   


    .search-menu input{
        width: 500px;
    }

    .results {
        width: 500px;
        transform: translateX(-46%);
    }
    


}


@media (max-width:890px) {

    .btn-search {
        right: 270px;
    }

    
    .ul-menu .img-bar {
        transform: translateX(-175px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(170px);
        
    }
}

@media (max-width:868px){
    
}
@media (max-width:809px) {


    .btn-search {
        right: 240px;
    }

    .ul-menu .img-bar {
        transform: translateX(-130px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(160px);
        
    }
}

@media (max-width:725px) {
    .btn-search {
        right: 210px;
    }

    .ul-menu .img-bar {
        transform: translateX(-120px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(175px);
        
    }
}


@media (max-width:690px) {
    .btn-search {
        right: 225px;
    }

    .ul-menu .img-bar {
        transform: translateX(-110px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(165px);
        
    }
}

@media (max-width:676px) {
    .btn-search {
        right: 200px;
    }

    .ul-menu .img-bar {
        transform: translateX(-100px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(155px);
        
    }
}


@media (max-width:656px) {

    .btn-search {
        right: 190px;
    }

    .ul-menu .img-bar {
        transform: translateX(-80px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(145px);
        
    }

}


@media (max-width:640px) {

    
    .container{
    
        grid-template-columns:300px  ;
   
    }
    
    .search-menu input{
        width: 350px;
    }
     
    .description-footer {
        grid-template-rows: 25px 110px 100px ;
        grid-template-columns: 200px 200px  ;
    }
   
    .results {
        width: 350px;
        transform: translateX(-44%);
    }


    .btn-search {
        right: 170px;
    }

    .ul-menu .img-bar {
        transform: translateX(-30px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(100px);
    }
}


@media (max-width:550px) {


    .btn-search {
        right: 120px;
    }
   

    .ul-menu .img-bar {
        transform: translateX(-20px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(80px);
    }
}

@media (max-width:400px) {


    .btn-search {
        right: 100px;
    }
   

    .ul-menu .img-bar {
        transform: translateX(-5px);
    }
   

    .ul-menu .username-menu .navbar-imgcarrito  {
        transform: translateX(25px);
    }
}





/*Min Width*/
@media (min-width:940px){
    .about-menu-aside {
        display: none;
    }
}







