
:root{

    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #65dd75;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    

}


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    background-image: url(/public/Asset/logos/Fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

main{
    margin-top: 200px;
}



.container{
    margin-top: 200px;
    margin: auto;
    max-width: 700px;
    position: relative;
    max-height: 100px;
    
}

.back-box{
    width: 100%;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(24, 248, 147, 0.5);
    border-radius: 10px;
    height: 250px;
}

.back-box div {
    margin-top: 40px;
    color: white;
    transition: all 500ms;
}

.back-box div p ,
.back-box div button {
    margin-top: 30px;
}

.back-box div h3 {
    font-weight: 400;
    font-size: 26px;
}

.back-box button{
    padding: 10px 40px;
    border: 2px solid #fff;
    background: transparent;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    color: white;
    outline: none;
    transition: all 300ms;
    border-radius: 5px;
    
    
}

.back-box button:hover{
    background: white;
    color: var(--hospital-green)

}

/**Formularios*/
.container-login-register{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 300px;
    position: relative;
    top: -185px;
    left: 10px;
    transition: left 500ms cubic-bezier(0.175,0.885,0.320,1.275);
}

.container-login-register form  {
    width: 100%;
    padding: 60px 20px;
    background-color: #fff;
    position: absolute;
    border-radius: 20px;
}

.container-login-register form h2{
    font-size: 30px;

}

.container-login-register .form-login {
    bottom: -225px;
}

.container-login-register .form-register {
    bottom: -300px;
}

.container-login-register input {
    width: 260px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    background: #f2f2f2;
    outline: none;
    border-radius: 10px;
}

.container-login-register button {
    padding: 10px 40px;
    margin-top: 40px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    color:#fff;
    background-color: var(--hospital-green);
}

.form-login {
    opacity: 1;
    display: block;
}

.form-register {
    display: none;
}